<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>employeeList</title>
</head>
<body>
<h1 align="center">Employee List</h1>
<table class="mat-elevation-z8">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Position</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of employees">
    <td align="center">{{emp.firstName}}</td>
    <td align="center">{{emp.lastName}}</td>
    <td align="center">{{emp.position}}</td>
    <td align="center">
      <button id="btn-primary" class="btn btn-primary btn-sm"
              (click)="view(this)">
        View
      </button>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>

